$naranja: #fa7855; //color principal
$naranja-claro: #fde2da; //color secundario
$gris-menu: #666666; //gris oscuro
$gris: #808080; //gris claro
$rosa: #f29fc5; // rosa botón
$fuente: 'IBM Plex Mono', monospace; //fuente section