$rosa: #f29fc5; // rosa botón
$gris-menu: #666666; //gris oscuro
$gris: #808080; //gris claro
$fuente: 'IBM Plex Mono', monospace; //fuente section

.bio-container{
   width: 305px;
   height: 345px;
   justify-content: center;
}

.label{
   background: $rosa;
   font-family: 'IBM Plex Mono', monospace;
   text-align: center;
}

img{
   width: 65%;
   p{
       width: 100px;
   }
}

h2, p, .img-blog{
   font-family: 'IBM Plex Mono', monospace;
   height: auto;
   text-align: center;
   justify-content: center;
}



p{
   color: $gris-menu;
   font-size: 11px;
}
