$gris-menu: #666666; //gris oscuro
$gris: #808080; //gris claro
$fuente: 'IBM Plex Mono', monospace; //fuente section
$rosa: #f29fc5; // rosa botón

.container{
    display: flex;
    justify-content: center
 }
 
 
 .images {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-left: 20px;
 }
 
 .images img {
    width: 100%;
    height: auto;
    border-radius: 30px;
 
 }
 
 .images .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
 }
 
 .images .btn:hover {
    background-color: #fa7855;
    color: black;
 }
 
.padre {
    width: 90%;
    margin: auto;
    display: flex;
}

.video {
    width: 60%;
    height: auto;
    iframe {
        width: 100%;
        height: 400px;
    }
}

.bio {
    display: flex;
    flex-direction: column;
    width: 29%;
    height: auto;
    font-family: $fuente;
    margin-left: 2%;
    div {
        width: 50%;
        height: 200px;
        margin: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    .n {
        text-align: center;
        font-size: 18px;
        color: black;
    }
    .pink {
        background-color: $rosa;
        text-align: center;
        margin-top: 0%;
    }
    p {
        text-align: center;
        font-size: 15px;
    }
}

.april {
    font-family: $fuente;
    width: 90%;
    margin: auto;
    font-size: 10px;
}

.linea{
    border-bottom: $gris-menu solid 1px;
    width: 60%;
    margin-left: 5%;
    margin-top: 2%;
}

.nota1 {
    width: 60%;
    height: auto;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    font-family: $fuente;
    color: $gris-menu;
    .img1 {
        width: 40%;
        img {
            width: 100%;
            height: auto;
            border-radius: 10%;
        }
    }
}

.nota2 {
    width: 60%;
    height: auto;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    font-family: $fuente;
    color: $gris-menu;
    .img2 {
        width: 40%;
        img {
            width: 100%;
            height: auto;
            border-radius: 10%;
        }
    }
}
.uno {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
.dos {
    margin-left: 5%;
}
h3 {
    margin: 0;
    color: black;
    margin-bottom: 2%;
    margin-left: 2%;
}
button {
    display: block;
    color: black;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    background-color: $rosa;
    margin-top: 5%;
}


footer {
    width: 100%;
    height: auto;
    margin-top: 5%;
    ul {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        a {
            color: $gris-menu;
            text-decoration: none;
        }
    }
    .line {
        border-bottom: $gris-menu solid 1px;
        width: 90%;
        margin: auto;
        padding: 15px;
    }
}


@media (max-width: 800px) {
    .container {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        flex-direction: column;
 
    }
 
    .images {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
    }
 
    .btn {
        top: 40%;
        left: 25%;
    }
 
    .btn1{
        top: 40%;
        left: 0%;
        transform: none;
        background: none;
    }
}