footer {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
footer ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
footer ul a {
  color: #666666;
  text-decoration: none;
}
footer .line {
  border-bottom: #666666 solid 1px;
  width: 90%;
  margin: auto;
  padding: 15px;
}

.header {
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: #fa7855;
  font-size: 46px;
}

.navbar {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px;
}
.navbar a {
  text-decoration: none;
  color: #666666;
}
.navbar .list-container {
  display: flex;
  padding: 10px;
  margin: 0;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.navbar .list-container .list-item {
  list-style: none;
  text-align: center;
  width: 100%;
}

.link {
  color: #666666;
  text-decoration: none;
}
.link:hover {
  color: #fa7855;
  text-decoration: none;
}

.dropdown-container {
  position: relative;
}
.dropdown-container .dropdown-item:first-child {
  display: inline-block;
}
.dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  top: 25px;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  color: #666666;
  background-color: #f4f4f4;
  text-align: left;
  z-index: 100;
}
.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: #666666;
  padding: 5px;
  text-decoration: none;
  list-style: none;
}

.navbar-mobile {
  display: none;
}

.row {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-md-3.screens {
  padding: 0;
  margin: 0 15px;
}

.col-md-3.screens:first-child {
  margin-left: 0;
}

.col-md-3.screens:last-child {
  margin-right: 0;
}

.img {
  width: 100%;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #fa7855;
  background: rgba(250, 120, 85, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  padding: 20px;
  text-align: left;
}
.overlay .date_comment {
  font-size: 10px;
}

.containerT {
  position: relative;
  width: 100%;
}
.containerT:hover .overlay {
  opacity: 1;
}

@media (max-width: 800px) {
  .header {
    width: 100%;
    font-family: "Indie Flower", cursive, bold;
  }

  .navbar {
    display: none;
  }

  .navbar-mobile {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #fa7855;
    padding: 10px;
    border-radius: 10px;
  }
  .navbar-mobile a {
    color: black;
    text-decoration: none;
  }

  .list-container {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .list-container .list-item {
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .link {
    color: white;
    text-decoration: none;
  }
  .link:hover {
    color: #fa7855;
    text-decoration: none;
  }

  .dropdown-container {
    position: relative;
  }
  .dropdown-container .list-item:first-child {
    display: block;
  }
  .dropdown-container .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    background-color: #fa7855;
    text-align: center;
  }
  .dropdown-container .dropdown-content a {
    text-decoration: none;
    color: white;
  }
  .dropdown-container .dropdown-content:hover {
    display: block;
  }

  .dropdown-item {
    color: white;
    text-decoration: none;
    list-style-type: none;
  }

  .fmobile {
    display: none;
  }

  .overlay {
    display: none;
  }
}
footer {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
footer ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
footer ul a {
  color: #666666;
  text-decoration: none;
}
footer .line {
  border-bottom: #666666 solid 1px;
  width: 90%;
  margin: auto;
  padding: 15px;
}

button {
  border-width: 2px;
}

.container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.images {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-left: 20px;
}

.images img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.images .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 15px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.images .btn:hover {
  background-color: #fa7855;
  color: black;
}

.padre {
  width: 90%;
  margin: auto;
  display: flex;
}

.video {
  width: 60%;
  height: auto;
}
.video iframe {
  width: 100%;
  height: 400px;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 29%;
  height: auto;
  font-family: "IBM Plex Mono", monospace;
  margin-left: 2%;
}
.bio div {
  width: 50%;
  margin: auto;
}
.bio div img {
  width: 100%;
  height: auto;
}
.bio .n {
  text-align: center;
  font-size: 18px;
  color: black;
}
.bio .pink {
  background-color: #f29fc5;
  text-align: center;
  margin-top: 0%;
}
.bio p {
  text-align: center;
  font-size: 15px;
}

.april {
  font-family: "IBM Plex Mono", monospace;
  width: 90%;
  margin: auto;
  font-size: 10px;
}

.linea {
  border-bottom: #666666 solid 1px;
  width: 60%;
  margin-left: 5%;
  margin-top: 2%;
}

.nota1 {
  width: 60%;
  height: auto;
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  color: #666666;
}
.nota1 .img1 {
  width: 40%;
}
.nota1 .img1 img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.nota2 {
  width: 60%;
  height: auto;
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  color: #666666;
}
.nota2 .img2 {
  width: 40%;
}
.nota2 .img2 img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.uno {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

.dos {
  margin-left: 5%;
}

h3 {
  margin: 0;
  color: black;
  margin-bottom: 2%;
  margin-left: 2%;
}

button {
  display: block;
  color: black;
  padding: 8px;
  width: 150px;
  border-radius: 10px;
  background-color: #f29fc5;
  margin-top: 5%;
}

.bioo {
  display: none;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
footer ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #666666;
  text-decoration: none;
}
footer .line {
  border-bottom: #666666 solid 1px;
  width: 90%;
  margin: auto;
  padding: 15px;
}

.icon-arrow {
  display: none;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    align-items: center;
    width: auto;
    margin: auto;
    flex-direction: column;
  }

  .images {
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .btn {
    top: 40%;
    left: 25%;
  }

  .btn1 {
    top: 40%;
    left: 0%;
    transform: none;
    background: none;
  }

  .bioo {
    display: flex;
    width: 90%;
    margin: auto;
  }
  .bioo .bio {
    width: 100%;
  }

  .padre {
    display: none;
  }

  .april {
    display: none;
  }

  .linea {
    display: none;
  }

  .nota1 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .nota1 .img1 {
    display: none;
  }
  .nota1 .uno {
    justify-content: space-around;
  }
  .nota1 h3 {
    text-align: center;
  }
  .nota1 button {
    margin-left: 25%;
    margin-bottom: 15%;
  }

  .nota2 {
    display: none;
  }

  footer span {
    display: none;
  }

  .icon-arrow {
    color: #fa7855;
    bottom: 15px;
    display: inline-block;
  }
  .icon-arrow .fa-arrow-circle-up {
    font-size: 40px;
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: orange;
    margin-left: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
